h1 {
  font-size: 30px;
}
.login {
  background: #f2e6d8;
  padding: 30px;
  text-align: center;
}
.login p {
  padding: 10px;
}
.login input {
  border-radius: 10px;
  padding: 10px 5px;
  border-style: solid;
  border-color: #4c6473;
}
