<!DOCTYPE html>
html(lang="en")
    head    
        meta(charset="UTF-8")
        title("Document")
        style
            include ../styles/css/app.css
        link(href="https://fonts.googleapis.com/css?family=Hind:400,500&display=swap" rel="stylesheet")
    body
        block content
