extends base.pug

block content
    
        header
            div(class="navigation")
                img(src="./images/autumn-hills-logo-tree.svg")
                button 
                    a(href="/login") Login
            div(class="hero")
                img(src="./images/autumn-hills-logo-glow.svg")
        main    
            div(class="content")
                h1 Welcome to The Country Club of Autumn Hills
            div(class="description")
                p Autumn Hills is a country club that offers 18 beautiful holes of golf on our professionally maintained course. Stop by and check out our clubhouse restarant before or after your round for food and drink. Our fully stocked pro shop will satisfy all of your equipment needs. Contact us today to book your tee time, or create an account online and book your tee time through our reservation tool today! <br><br> Full memberships start at $500/month and include access to all country club amenities. Social memberships start at $250/month will access to the golf course only.
                p
                    img(src="./images/golf-course.jpg")
            div(class="callout")
                h2 Create Your Free Account and Join Today!
                button 
                    a(href="/create-account") Create Account