extends base.pug

block content
    form(action="/dashboard", method="post")
        p Email
            br
            input(type="text", name="email" size="50")
        p Password 
            br
            input(type="text", name="password" size="50")
        input(type="submit", name="Done")
