extends base.pug

block content
    div(class="login-wrapper")
        div(class="login")
            form(action="/dashboard", method="post")
                p 
                    img(src="./images/autumn-hills-logo.svg" alt="Autumn Hills Logo")
                if userNotAvailable != false
                    p(style="color: red")
                        em #{userNotAvailable}
                p Email
                    br
                    input(type="text", name="email" size="50" height="20")
                p Password 
                    br
                    input(type="password", name="password" size="50" height="20")
                p 
                    a(href="/create-account") Don't have an account?
                input(type="submit", name="Done" value="Login")
