extends base.pug

block content
    div(class="tee-time-wrapper")
        div(class="tee-times")
            form(action="/tee-time-confirmation", method="post")
                p Date
                    br
                    input(type="date", name="date")
                p Time 
                    br
                    input(type="time", name="time" step="900" min="08:00:00" max="15:00:00")
        
                input(type="submit", name="Register" value="Register")
