extends base.pug

block content
    div(class="tee-time-wrapper")
        p 
            img(src="./images/autumn-hills-logo.svg")
        h2 Book a Tee Time
        p Book your next round with us by selecting a date and time below.
        div(class="createTeeTimeWrapper")
            div(class="createTeeTime")
                form(action="/tee-time-confirmation", method="post")
                    - let today = new Date();
                    - let dd = today.getDate();
                    - let mm = today.getMonth()+1;
                    - let yyyy = today.getFullYear();
                    if dd < 10
                        - dd='0'+dd
                    if mm < 10
                        - mm='0'+mm
                    - today = yyyy+'-'+mm+'-'+dd;
                    h3 Date
                        br
                        input(type="date", name="date" height="30px" min=today)
                    h3 Time 
                        br
                        input(type="time", name="time" step="900" min="08:00:00" max="15:00:00")
                    
                    input(type="submit", name="Register" value="Book Tee Time")
